# =========================
# DATA (KHÔNG PUSH)
# =========================
data/
*.zip
*.tar
*.gz

# =========================
# PYTHON
# =========================
__pycache__/
*.pyc
*.pyo

# =========================
# MODELS (FILE NẶNG)
# =========================
*.pkl
*.h5
*.pt
*.joblib

# =========================
# OUTPUTS (CHỈ GIỮ DEMO NHẸ)
# =========================
outputs/*
!outputs/README.md
!outputs/*.png
!outputs/*.jpg

# =========================
# SYSTEM FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / EDITOR
# =========================
.vscode/
.idea/

# =========================
# JUPYTER
# =========================
.ipynb_checkpoints/