Data/
data/
datasets/
*.zip
*.tar
*.gz
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log
*.tmp

01_color_representation/
02_preprocessing/
03_morphology/

train_01/
*.pkl

train_01_hog+color+svm/
*.pkl

train_02/
*.pkl

04_HOG_SVM/model.pkl